In [84]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [97]:
#Cargamos data set 1
url1='https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19.csv'
df1 = pd.read_csv(url1)
#En formato date time y nombre fechas

In [98]:
#Se seleccionan las columnas que tienen fechas
vals= list(df1.columns)[5:-1]
#Se seleccionan el resto de las columnas
ids= list(df1.columns)[:5]

In [99]:
#Se crea la columna fechas, con formato date

df_tidy= pd.melt(df1, value_vars=vals, id_vars=ids)
df_tidy= df_tidy.rename(columns={'variable':'fechas'})
df_tidy['fechas']=pd.to_datetime(df_tidy['fechas'], format='%d-%m-%Y')

In [100]:
#Se borran N/a y columnas irrelevantes
df_tidy.dropna(inplace=True)
df_tidy = df_tidy.drop(['Codigo region', 'Codigo comuna'], axis=1)

In [101]:
#Solo necesitamos la poblacion por comuna 
df1 = df_tidy.drop_duplicates(subset='Comuna', keep='first')
df1 = df1[['Region', 'Comuna', 'Poblacion']]
df1 = df1.reset_index(drop=True)

In [102]:
df1 = df1.groupby('Region')['Poblacion'].sum().reset_index()
df1

                Region  Poblacion
0          Antofagasta   691854.0
1            Araucanía  1014343.0
2   Arica y Parinacota   252110.0
3              Atacama   314709.0
4                Aysén   107297.0
5               Biobío  1663696.0
6             Coquimbo   836096.0
7            Los Lagos   891440.0
8             Los Ríos   405835.0
9           Magallanes   178362.0
10               Maule  1131939.0
11       Metropolitana  8125072.0
12           O’Higgins   991063.0
13            Tarapacá   382773.0
14          Valparaíso  1960170.0
15               Ñuble   511551.0

In [103]:
#Cargamos data set2
url2= 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto14/FallecidosCumulativo.csv'
df2 = pd.read_csv(url2)

In [104]:
# Tomar solo la última columna (última fecha)
ultima_fecha = df2.columns[-1]
df2['Total_Fallecidos'] = df2[ultima_fecha]

# Seleccionar solo las columnas 'Region' y 'Total_Fallecidos'
df_nuevo = df2[['Region', 'Total_Fallecidos']]
df_nuevo

                Region  Total_Fallecidos
0   Arica y Parinacota               849
1             Tarapacá              1140
2          Antofagasta              1841
3              Atacama               698
4             Coquimbo              1886
5           Valparaíso              6266
6        Metropolitana             29376
7            O’Higgins              2693
8                Maule              3242
9                Ñuble              1284
10              Biobío              4657
11           Araucanía              2837
12            Los Ríos              1400
13           Los Lagos              2478
14               Aysén               219
15          Magallanes               706
16               Total             61573

In [108]:
#Juntamos ambos df para trabajar
df = pd.merge(df1, df_nuevo, on='Region')
df

                Region  Poblacion  Total_Fallecidos
0          Antofagasta   691854.0              1841
1            Araucanía  1014343.0              2837
2   Arica y Parinacota   252110.0               849
3              Atacama   314709.0               698
4                Aysén   107297.0               219
5               Biobío  1663696.0              4657
6             Coquimbo   836096.0              1886
7            Los Lagos   891440.0              2478
8             Los Ríos   405835.0              1400
9           Magallanes   178362.0               706
10               Maule  1131939.0              3242
11       Metropolitana  8125072.0             29376
12           O’Higgins   991063.0              2693
13            Tarapacá   382773.0              1140
14          Valparaíso  1960170.0              6266
15               Ñuble   511551.0              1284