In [174]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [175]:
#Cargamos data set2
url= 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto14/FallecidosCumulativo.csv'
df = pd.read_csv(url)
df.head()

,Region,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,...,2023-06-13,2023-06-14,2023-06-15,2023-06-16,2023-06-17,2023-06-18,2023-06-19,2023-06-20,2023-06-21,2023-06-22
0,Arica y Parinacota,0,0,0,0,0,0,0,0,0,...,849,849,849,849,849,849,849,849,849,849
1,Tarapacá,0,0,0,0,0,0,0,0,0,...,1140,1140,1140,1140,1140,1140,1140,1140,1140,1140
2,Antofagasta,0,0,0,0,0,0,0,0,0,...,1841,1841,1841,1841,1841,1841,1841,1841,1841,1841
3,Atacama,0,0,0,0,0,0,0,0,0,...,698,698,698,698,698,698,698,698,698,698
4,Coquimbo,0,0,0,0,0,0,0,0,0,...,1885,1885,1885,1885,1885,1885,1885,1885,1885,1886

In [176]:
#Se seleccionan las columnas que tienen fechas
vals= list(df.columns)[1:-1]
#Se seleccionan el resto de las columnas
ids= list(df.columns)[:1]

In [177]:
df_tidy= pd.melt(df, value_vars=vals, id_vars=ids)
df_tidy= df_tidy.rename(columns={'variable':'Fechas'})
df_tidy= df_tidy.rename(columns={'value':'Fallecidos'})
df_tidy['Fechas']=pd.to_datetime(df_tidy['Fechas'], format='%Y-%m-%d')

In [179]:
#Seleccionamos region a trabajar
df = df_tidy[df_tidy['Region'] == 'Coquimbo']
df = df.reset_index(drop=True)

     Region     Fechas  Fallecidos
0  Coquimbo 2020-03-22           0
1  Coquimbo 2020-03-23           0
2  Coquimbo 2020-03-24           0
3  Coquimbo 2020-03-25           0
4  Coquimbo 2020-03-26           0

In [180]:
#Inspeccionamos los datos 
df.head()

     Region     Fechas  Fallecidos
0  Coquimbo 2020-03-22           0
1  Coquimbo 2020-03-23           0
2  Coquimbo 2020-03-24           0
3  Coquimbo 2020-03-25           0
4  Coquimbo 2020-03-26           0

In [182]:
#Inspeccionamos datos faltantes
datos_faltantes = df.isna().sum()
print(datos_faltantes)
#No hay necesidad de manejar datos faltantes

Region        0
Fechas        0
Fallecidos    0
dtype: int64