In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:

#Cargamos data set2
url= 'https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto14/FallecidosCumulativo.csv'
df = pd.read_csv(url)
df.head()

,Region,2020-03-22,2020-03-23,2020-03-24,2020-03-25,2020-03-26,2020-03-27,2020-03-28,2020-03-29,2020-03-30,...,2023-06-13,2023-06-14,2023-06-15,2023-06-16,2023-06-17,2023-06-18,2023-06-19,2023-06-20,2023-06-21,2023-06-22
0,Arica y Parinacota,0,0,0,0,0,0,0,0,0,...,849,849,849,849,849,849,849,849,849,849
1,Tarapacá,0,0,0,0,0,0,0,0,0,...,1140,1140,1140,1140,1140,1140,1140,1140,1140,1140
2,Antofagasta,0,0,0,0,0,0,0,0,0,...,1841,1841,1841,1841,1841,1841,1841,1841,1841,1841
3,Atacama,0,0,0,0,0,0,0,0,0,...,698,698,698,698,698,698,698,698,698,698
4,Coquimbo,0,0,0,0,0,0,0,0,0,...,1885,1885,1885,1885,1885,1885,1885,1885,1885,1886

In [8]:
#Se seleccionan las columnas que tienen fechas
vals= list(df.columns)[1:-1]
#Se seleccionan el resto de las columnas
ids= list(df.columns)[:1]

In [9]:

df_tidy= pd.melt(df, value_vars=vals, id_vars=ids)
df_tidy= df_tidy.rename(columns={'variable':'Fechas'})
df_tidy= df_tidy.rename(columns={'value':'Fallecidos'})
df_tidy['Fechas']=pd.to_datetime(df_tidy['Fechas'], format='%Y-%m-%d')

In [10]:
df_tidy

                   Region     Fechas  Fallecidos
0      Arica y Parinacota 2020-03-22           0
1                Tarapacá 2020-03-22           0
2             Antofagasta 2020-03-22           0
3                 Atacama 2020-03-22           0
4                Coquimbo 2020-03-22           0
...                   ...        ...         ...
20174            Los Ríos 2023-06-21        1400
20175           Los Lagos 2023-06-21        2478
20176               Aysén 2023-06-21         219
20177          Magallanes 2023-06-21         706
20178               Total 2023-06-21       61569

[20179 rows x 3 columns]

In [14]:
df = df_tidy.groupby('Fechas')['Fallecidos'].sum().reset_index()
df

         Fechas  Fallecidos
0    2020-03-22           2
1    2020-03-23           2
2    2020-03-24           4
3    2020-03-25           6
4    2020-03-26           8
...         ...         ...
1182 2023-06-17      123131
1183 2023-06-18      123133
1184 2023-06-19      123135
1185 2023-06-20      123137
1186 2023-06-21      123137

[1187 rows x 2 columns]